@model IEnumerable<Mowerman.Models.Employee>
@{
    ViewData["Title"] = "TeamView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Team Assignment</h1>
<h4>Team Selector</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Employee" name="Employee">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="@item.Id" />
                                <div class="form-group">
                                    <label asp-for="@item.Team" class="control-label"></label>
                                    <input asp-for="@item.Team" class="form-control" />
                                    <span asp-validation-for="@item.Team" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
